.callback-addition-button {
  position: relative;
  display: flex;
  $callback-background: rgba(55, 53, 47, 0.2);
  & .menu-wrapper {
    cursor: pointer;
    & .menu {
      display: flex;
      position: relative;
      flex-direction: column-reverse;
      opacity: 1;
      transition: opacity 270ms ease;

      & .dialog {
        padding: 1px;
        border-radius: 6px;
        background: white;
        position: relative;
        max-width: calc(100vw - 24px);
        min-width: 180px;
        text-align: center;
        box-shadow:
          rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
          rgba(15, 15, 15, 0.1) 0px 3px 6px,
          rgba(15, 15, 15, 0.2) 0px 9px 24px;
        overflow: hidden;
        & .menu-item {
          user-select: none;
          transition: background 20ms ease-in 0s;
          cursor: pointer;
          width: calc(100% - 8px);
          margin: 4px;
          border-radius: 4px;
          font-size: 14px;
          line-height: 120%;
          &:hover {
            background: $callback-background;
          }
        }
      }
    }
  }
  & .callback-area {
    flex: 1;
    &.hover {
      background-color: $callback-background;
    }
    &:hover {
      background-color: $callback-background;
    }
  }
}

.callbacks-table-wrapper {
  max-height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
  input {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    padding: 3px 2px;
    min-height: 1em;
    color: rgba(55, 53, 47, 0.5);
    border: none;
    background-color: transparent;
    border-radius: 8px;

    &:focus {
      outline: 0;
      border-color: #3399ff;
      box-shadow: 0 0 0 3px #b6daff;
    }
  }

  & .above-table {
    display: flex;
    justify-content: right;
    padding: 0.5em 0.5em;
    font-size: 0.8em;
  }
}
