.step-item {
  font-family: "Open-Sans", sans-serif;
  padding: 10;
  &.step-item {
    margin-left: 3%;
  }
}

.step-item-head {
  min-height: 3em;
  display: flex;
  @extend .shadow;
  border: grey 1px solid;
  border-radius: 1em;
  transition: margin 0.3s ease;
  outline: purple 1px solid;
  &.drag-over {
    margin: 14px;
  }
  &.invalid {
    border: red 1px solid;
  }
  & .start,
  & .end {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  & .center {
    flex: 6;
    padding: 10;
    font-size: 1em;
    display: block;
    & .meta-data {
      font-size: 0.8em;
      padding: 0 0 0 5;
      font-style: oblique;
      word-break: break-word;
    }
  }

  & .end {
    flex-direction: row;
  }
}
.step-item-body {
  padding-top: 1em;
  padding-bottom: .5em;
  outline: green 1px solid;
}
.three-dots-vertical {
  cursor: pointer;
}

.step-item-divider {
  min-height: 1rem;
  &.drag-over {
    background-color: lightblue;
  }
}
.start[aria-expanded="true"] .arrow-right {
  transform: rotate(90deg);
}

$set-border: 4px solid rgb(11, 141, 228);

.above {
  border-top: $set-border;
}

.below {
  border-bottom: $set-border;
}
.drag-over {
  
  //margin: 2em;
}

.modal-container,
.button-group {
  display: flex;
  flex-direction: column;
}

.button-group {
  & .add-icon,
  .remove-icon {
    cursor: pointer;
  }
  padding: 2px;
}
