.step-item-container {
  height: 80vh;
  overflow-y: auto;
  border: 1px solid $gray-500;
}

.step-item {
  padding: 10px;
  margin-left: 3%;
}

.step-item-head {
  border-radius: $font-size-base;
  display: flex;
  border: 1px solid $gray-400;
  background-color: $gray-100;
  transition: height 0.3s ease;
  @extend .shadow-sm;
}

.step-item-divider {
  &.drag-over {
    height: 1.8rem;
    background-color: lightblue;
  }
}

.step-item-head.invalid {
  border: 1px solid red;
}

.step-item-body {
  padding-top: 1em;
  padding-bottom: 0.5em;
  outline: 1px dotted grey;
}

.left-corner .header {
  border-top-left-radius: $font-size-base;
}

.right-corner .header {
  border-top-right-radius: $font-size-base;
}

.step-item-col.right-corner {
  .body {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .header {
    padding-right: 5px;
    position: relative;
  }
  .right {
    min-width: 100px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    .step-item-modal {
      grid-column: 7;
      display: flex;
      justify-content: center;
    }
    > svg {
      grid-column: 8;
      position: relative;
      left: 10px;
      cursor: pointer;
    }
  }
}

.step-item-col .header {
  height: 42px;
  padding: 0.5rem;
  background-color: $green-200;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
}

.step-item-col .body {
  padding: 5px;
  font-size: $font-size-base * 0.8;
}

.step-item-col .body input,
.step-item-col .body textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.212);
  box-shadow: 0 2px 4px rgba(200, 205, 207, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: #333;
}

.step-item-col .body input.error,
.step-item-col .body textarea.error {
  border: 1px solid red;
}

.step-item-col .body input:focus,
.step-item-col .body textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.step-item-col .body input:disabled {
  background-color: rgba(233, 236, 239, 0.5);
  cursor: not-allowed;
}

.step-item-col.summary {
  flex-grow: 8;
}

.step-item-col.title {
  flex-grow: 4;
}

.step-item-col.right-corner {
  max-width: 150px;
  border-radius: 0 1em 1em 0;
}

.three-dots-vertical {
  cursor: pointer;
}

.step-item-divider {
  min-height: 1rem;
}

.start[aria-expanded="true"] .arrow-right {
  transform: rotate(90deg);
}

.above {
  border-top: 4px solid rgb(11, 141, 228);
}

.below {
  border-bottom: 4px solid rgb(11, 141, 228);
}

.modal-container,
.button-group {
  display: flex;
  flex-direction: column;
}

.button-group {
  padding: 2px;
}

.button-group .add-icon,
.button-group .remove-icon {
  cursor: pointer;
}

.triangle {
  cursor: pointer;
  transform: rotate(90deg);
}

.triangle.open {
  transform: rotate(180deg);
}
