$border-radius-step-item: 1em;

.step-item-container {
  height: 80vh;
  overflow-y: auto;
  background-color: #f4f4f48e;
}

.step-item {
  padding: 10px;
  margin-left: 3%;
}

.left-corner {
  .header {
    border-top-left-radius: $border-radius-step-item;
  }
}
.right-corner {
  .header {
    border-top-right-radius: $border-radius-step-item;
  }
}

.triangle {
  transform: rotate(90deg);
}
.triangle.open {
  transform: rotate(180deg);
}

.step-item-col .bs-plus-square {
  cursor: pointer;
  fill: white;
}

.step-item-col.right-corner {
  .body {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .header {
    padding-right: 5px;
    position: relative;
  }
  .right {
    min-width: 100px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    .step-item-modal {
      grid-column: 7;
      display: flex;
      justify-content: center;
    }
    > svg {
      grid-column: 8;
      position: relative;
      left: 10px;
      cursor: pointer;
    }
  }
}

.step-item-col .header {
  height: 40px;
  padding: 0.5rem;
  background-color: #aa777754;
  font-size: 14px;
  font-weight: bold;
}

.step-item-col .body {
  padding: 5px;
  font-size: 13px;
}
/* Base button styles */
.cross-button {
  width: 2em; /* Width of the button */
  height: 2em; /* Height of the button */
  background-color: white; /* Background color of the button */
  border: 1px solid #8a8686dc; /* Border of the button */
  border-radius: 2px;
  left: 12px;
  position: relative; /* Positioning context for pseudo-elements */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Cross styling using pseudo-elements */
.cross-button::before,
.cross-button::after {
  content: ""; /* No content, just for styling */
  position: absolute; /* Absolute positioning within the button */
  top: 50%; /* Vertical center alignment */
  left: 50%; /* Horizontal center alignment */
  width: 40%; /* Width of the cross line */
  height: 1px; /* Thickness of the cross line */
  background-color: black; /* Color of the cross */
  transform: translate(-50%, -50%); /* Center the cross line */
}

/* Rotate one pseudo-element to create the cross */
.cross-button::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.cross-button::after {
  transform: translate(-50%, -50%) rotate(-180deg);
}

.step-item-col .body input,
.step-item-col .body textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.808);
  box-shadow: 0 2px 4px rgba(200, 205, 207, 0.1);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  color: #333;
}

.step-item-col .body input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.step-item-col .body textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.step-item-col .body input:disabled {
  background-color: rgba(233, 236, 239, 0.5);
  cursor: not-allowed;
}

.step-item-col.summary {
  flex-grow: 8;
}

.step-item-col.title {
  flex-grow: 4;
}

.step-item-col.right-corner {
  max-width: 150px;
  border-radius: 0 1em 1em 0;
}

.step-item-head {
  border-radius: $border-radius-step-item;
  display: flex;
  border: 1px solid grey;
  background-color: #f4f4f4;
  transition: margin 0.3s ease;
}

.step-item-head.drag-over {
  margin: 14px;
}

.step-item-head.invalid {
  border: 1px solid red;
}

.step-item-body {
  padding-top: 1em;
  padding-bottom: 0.5em;
  outline: 1px dotted grey;
}

.three-dots-vertical {
  cursor: pointer;
}

.step-item-divider {
  min-height: 1rem;
}

.step-item-divider.drag-over {
  background-color: lightblue;
}

.start[aria-expanded="true"] .arrow-right {
  transform: rotate(90deg);
}

.above {
  border-top: 4px solid rgb(11, 141, 228);
}

.below {
  border-bottom: 4px solid rgb(11, 141, 228);
}

.modal-container,
.button-group {
  display: flex;
  flex-direction: column;
}

.button-group {
  padding: 2px;
}

.button-group .add-icon,
.button-group .remove-icon {
  cursor: pointer;
}
