@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com") crossfade;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,900&family=Roboto:ital,wght@0,100;0,400;1,300;1,400&display=swap");

@import "bootstrap/scss/_functions.scss";
@import "./styles/animations.scss";
.case-procedure-steps {
  @import "bootstrap/scss/bootstrap.scss";

  font-family: "Open-Sans", sans-serif;
  .main-container {
    .top-row {
      display: flex;
      .col-1 {
        padding: 0 10px;
        flex-grow: 3;
      }
      .col-2 {
        padding: 0 10px;
        flex-grow: 7;
      }
    }
  }
  .garbage-can {
    fill: $gray-600;
    cursor: pointer;
    &:hover {
      fill: $gray-800;
    }
  }
  .error-badge {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    border-radius: 0;
    cursor: help;
    & .text {
      transform: rotate(90deg);
    }
    & .popper-dialog {
      border-radius: 3px;
      padding: 5px;
      margin-top: 5px;
      background-color: grey;
    }
  }

  .cross-button {
    width: 2em; /* Width of the button */
    height: 2em; /* Height of the button */
    background-color: white; /* Background color of the button */
    border: 1px solid #8a8686dc; /* Border of the button */
    border-radius: 2px;
    left: 12px;
    position: relative; /* Positioning context for pseudo-elements */
    cursor: pointer; /* Pointer cursor on hover */
  }

  .cross-button::before,
  .cross-button::after {
    content: ""; /* No content, just for styling */
    position: absolute; /* Absolute positioning within the button */
    top: 50%; /* Vertical center alignment */
    left: 50%; /* Horizontal center alignment */
    width: 40%; /* Width of the cross line */
    height: 1px; /* Thickness of the cross line */
    background-color: black; /* Color of the cross */
    transform: translate(-50%, -50%); /* Center the cross line */
  }

  .cross-button::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .cross-button::after {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
 
  @import "./styles/components/step-item.scss";
}

@import "./styles/components/callback-component.scss";
