@import "bootstrap/scss/bootstrap.scss";
@import "react-edit-text/dist/index.css";

.window {
  max-height: 75vh;
  overflow-y: scroll;
}

body {
  font-family: "Open-Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drag__item {
  font-family: "Open-Sans", sans-serif;
  padding: 10;
}

.drag__item__head {
  min-height: 3em;
  display: flex;
  @extend .shadow-sm;
  border: grey 1px solid;
  border-radius: 1em;
  transition: margin 0.3s ease;
  margin: 5px;

  & .head__start {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .head__middle {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    flex: 6;
    padding: 10;
  }

  & .head__end {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.three-dots-vertical {
  cursor: pointer;
}

.head__start {
  &[aria-expanded="true"] {
    & .arrow-right {
      transform: rotate(90deg);
    }
  }
}

.drag__item {
  &.drag__item {
    margin-left: 3%;
  }
}

.above {
  border-top: 4px solid rgb(121, 129, 206); /* Highlight top border when dragging element is above */
  border-bottom: 2px solid #aaa; /* Reset bottom border */
}

.below {
  border-top: 2px solid #aaa; /* Reset top border */
  border-bottom: 4px solid rgb(121, 129, 206); /* Highlight bottom border when dragging element is below */
}
.drag-over {
  margin: 2em;
}

@keyframes flashAnimation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    background-color: rgb(116, 125, 211);
  }
}

.flash {
  animation: flashAnimation 1s infinite;
}
.dragging {
  cursor: grab; /* Change cursor to grab icon */
  border: 2px dashed #aaa; /* Add a dashed border */
  opacity: 0.7; /* Reduce opacity to indicate dragging */
  animation: flashAnimation 1s infinite;
}

.ghost-add-button {
  position: relative;
  display: flex;
  & .menu-fl {
    min-height: 150px;
    width: 100px;

    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 5px;
  }
  & .tail {
    flex: 1;
    &.hover {
      background-color: #f4f4f4;
    }
  }
}
